<!doctype html>
<html lang="en">
  <head>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'header.css' %}">
<link rel="stylesheet" href="static/font5/css/font-awesome.css">
<link rel="stylesheet" href="static/font5/css/font-awesome.min.css">
</head>
<header>
	<!--- Navbar --->
	<nav class="navbar navbar-expand-lg">
		<div class="container" style=" text-align: center;display:inline-block; width:100%;" >
			<a class="navbar-brand " href="#" style="font-size: 50px; color: black;">Michael Kors</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvbCollapse" aria-controls="nvbCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
    </div>

			<div class="collapse navbar-collapse" id="nvbCollapse">	
				<ul class="navbar-nav ml-auto">
					<li class="nav-item pl-1">
						<a class="nav-link" href="#"><i class="fa fa-venus"></i>WOMEN</a>
					</li>
					<li class="nav-item  pl-1">
						<a class="nav-link" href="#"><i class="fa fa-mars"></i>MEN</a>
					</li>
					<li class="nav-item pl-1">
						<a class="nav-link" href="#"><i class="fa fa-th-list fa-fw mr-1"></i>COLLECTION</a>
					</li>
          <!-- handbag=fa fa-phone fa-fw fa-rotate-180 mr-1 -->
					<li class="nav-item pl-1">
						<a class="nav-link" href="#"><i  class="fa fa-shopping-bag" ></i>HANDBAGS</a>
					</li>
					<li class="nav-item pl-1">
						<a class="nav-link" href="#"><span class="iconify" data-icon="fa-solid:shoe-prints" data-inline="false"></span><i  class="fas fa-shoe-prints"></i>SHOES</a>
					</li>
    
					<li class="nav-item pl-1">
						<a class="nav-link" href="#"><i class="fa fa-globe"></i>ACCESSORIES</a>
					</li>
          <li class="nav-item pl-1">
						<a class="nav-link" href="#"><i class="	fa fa-clock-o"></i>WATCHES</a>
					</li>
          <li class="nav-item pl-1">
						<a class="nav-link" href="#"><i class="fa fa-gift mr-1"></i>GIFT</a>
					</li>
          <li class="nav-item pl-1">
						<a class="nav-link" href="#"><i class="	fa fa-bell"></i>SALE</a>
					</li>
				</ul>
		
		
	</nav>
	<!--# Navbar #-->
	</header>
  <body>
    

  {% block body %}{% endblock body %}
</body>
<!--- Footer --->
	<footer >
		<div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0" >
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
						<div class="card bg-secondary border-0">
							<div class="card-body text-light text-center">
								<h5 class="card-title text-white display-4" style="font-size:30px ;color: black!important;  ">CUSTOMER SERVICE</h5>
							<!-- <p class="d-inline lead">Tüm Hakları Saklıdır © 2018<br> -->
							<a href="#" class="text-light d-block lead"  >FAQ</a>
              <a href="#" class="text-light d-block lead"  >TRACK MY ORDER</a>
              <a href="#" class="text-light d-block lead"  >RETURNS</a>
              <a href="#" class="text-light d-block lead"  >SHIPPING TERMS</a>
              <a href="#" class="text-light d-block lead"  >PAYMENT POLICY</a>
              <a href="#" class="text-light d-block lead"  >CONTACT US</a>
              <a href="#" class="text-light d-block lead"  >WARRANTY & REPAIR</a>
							</p>
	
							</div>
						</div>
					</div>
					
					<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
						<div class="card bg-secondary border-0">
							<div class="card-body text-center">
								<h5 class="card-title text-white display-4" style="font-size:30px ;color: black!important;">MY ACCOUNT</h5>
								<!-- <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i class="fa fa-phone mr-2"></i>+90 (000) 000 0 000</a> -->
								<!-- <a class="text-light d-block lead" href="#"  style="color: black!important;  "><i class="fa fa-envelope mr-2"></i>admin@localhost.com</a> -->
                <a href="#" class="text-light d-block lead"  >CREATE ACCOUNT</a>
                <a href="#" class="text-light d-block lead"  >ACCOUNTS</a>
							</div>
						</div>
					</div>
					
					<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
						<div class="card bg-secondary border-0">
							<div class="card-body text-center">
							<h5 class="card-title text-white display-4" style="font-size:30px;color: black!important;">COMPANY</h5>
					
									<!-- <a class="text-light" href="#"><i class="fa fa-facebook-square fa-fw fa-2x"></i>ABOUT US</a> -->
								
                  <a href="#" class="text-light d-block lead"  >ABOUT US</a>
                  <a href="#" class="text-light d-block lead"  >CAREERS</a>
                  <a href="#" class="text-light d-block lead"  >INVERTOR RELATIONS</a>
                  <a href="#" class="text-light d-block lead"  >SUPPLY CHAIN DISCLOSURE</a>
                  <div style="height:50px"></div>
                <a href="#">  <i class="fa fa-instagram" style="font-size:48px;color:#454c5a"></i></a>
                <a href="#"> <i class="	fa fa-facebook-square"style="font-size:48px;color:#3b5998"></i></a>
                  <a href="#">  <i class="		fa fa-twitter"style="font-size:48px;color:#00acee"></i></a>
                    <a href="#">  <i class="		fa fa-youtube-play"style="font-size:48px;color:	#FF0000"></i></a>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</footer>

  </html>